include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Необычные браузерные API"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x9.css')
    link(rel='stylesheet', href='highlight/styles/github.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Саша Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')
    +slide({header: "", classes: ""})
      div(style="margin-left: 50%; width: 60%; font-size: 0.8em")
        h2 Кто я?
        ul
          li.next Верстала ещё на таблицах
          li.next jQuery, VanillaJS, AngularJS, React, Angular и Vue.js
          li.next И Node.js
          li.next Была начальником отдела фронтенда
          li.next Выгорела
          li.next Пока счастливая безработная
        p.next(style="margin-top: 70px")
          img.logo(src="pictures/minskcss.png")
          img.logo(src="pictures/minskjs.png")
          img.logo(src="pictures/css-minsk-js.svg", style="background-color: #2b2727; height: 75px")
          img.logo(src="pictures/fc.png")
      +cover('pictures/about-cover.jpg')
    +slide({header: "", classes: "", shout:'true'})
      h2(style="color:#fff; font-size: 50px; padding-left: 50%; padding-top: 10%") Что же такое эти ваши &#171;браузерные API&#187?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "В браузере есть только...", classes: ""})
      +cover('pictures/browser.jpg')
    +slide({header: "Браузерные API", classes: ""})
      a.copyright(href="https://developer.mozilla.org/en-US/docs/Web/API#specifications") Web APIs | MDN
      +cover('pictures/apis.jpg')
      img.next(src="pictures/confused.gif", style="position: absolute; left: 30%; bottom: -10%; width: 500px")
    //- +slide({header: "О чем эти спецификации", classes: ""})
    //-   ul
    //-     li Манипуляции DOM и стилями
    //-     li.next Передача данных и состояние сети
    //-     li.next Графика и медиа
    //-     li.next Управление устройствами
    //-     li.next Хранение и управление данными пользователя
    +slide({header: "", classes: ""})
      h2.shout(style="color: #fff; text-shadow: 0 0 20px #333, 0 0 40px #333, 0 0 60px #333;") Манипуляции DOM и стилями
      +cover('pictures/blur_cover.jpg')
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px") Как узнать, что пользователь &#171;зумил&#187 страницу?
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: ""})
      div(style="display:flex")
        iframe(height='500' width="400" style='' scrolling='no' title='Simple browser zoom detect with jquery #codevember' src='https://codepen.io/reinis/embed/RooGOE?default-tab=result&theme-id=light' frameborder='no' loading='lazy' allowtransparency='true' allowfullscreen='true')
          | See the Pen 
          a(href='https://codepen.io/reinis/pen/RooGOE')
            | Simple browser zoom detect with jquery #codevember
          |  by Reinis (
          a(href='https://codepen.io/reinis') @reinis
          | )
          |   on 
          a(href='https://codepen.io') CodePen
          | .
        span.next
          video(src="pictures/zoom_bad.mp4" controls width="40%" style="margin-left: 50px")
          img.next(src="pictures/xz.jpg" style="position:absolute; right: 0; bottom: 0; width: 300px")
      a.copyright(href="https://codepen.io/reinis/pen/RooGOE") Simple browser zoom detect with jquery #codevember
    +slide({header: "", classes: ""})
      iframe(height='700' style='width: 150%; transform: scale(0.65); transform-origin: 0 0' scrolling='no' src="https://bokand.github.io/viewport/index.html") 
      a.copyright(href="https://bokand.github.io/viewport/index.html") Visual vs. Layout Viewport Demo
    +slide({header: "VisualViewport API", classes: ""})
      div(style="display:flex")
        pre(style="font-size: 0.8em; width: 50%")
          code.js
            | VisualViewport = {
            |   // Read-only
            |   offsetLeft
            |   offsetTop
            |   pageLeft
            |   pageTop
            |   width  
            |   height
            |   scale
            | }
        pre.next(style="font-size: 0.9em; width: 50%")
          code 
            | // Как получить значение зума*
            | const scale = VisualViewport.scale
    +slide({header: "", classes: ""})
      div(style="display:flex")
        iframe(height='500' style='width: 60%' scrolling='no' src="https://wicg.github.io/visual-viewport/examples/hide-on-zoom.html") 
        video(src="pictures/zoom_no.mp4" loop autoplay width="25%" style="margin-left: 50px")
      a.copyright(href="https://wicg.github.io/visual-viewport/examples/hide-on-zoom.html") Example with hide on zoom
    +slide({header: "", classes: ""})
      +cover('pictures/viewport_use.jpg')
      a.copyright(href="https://caniuse.com/mdn-api_visualviewport") Caniuse — VisualViewport API
    +slide({header: "Манипуляции DOM и стилями", classes: ""})
      div.double
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model") DOM
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Counter_Styles") CSS Counter Styles
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Font_Loading_API") CSS Font Loading API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Painting_API") CSS Painting API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Typed_OM_API ") CSS Typed OM
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model") CSSOM
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API") HTML Drag and Drop API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API") Intersection Observer API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API") Page Visibility API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events") Pointer events
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Pointer_Lock_API") Pointer Lock API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Resize_Observer_API") Resize Observer API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Touch_events") Touch events
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Visual_Viewport_API") Visual Viewport API
    +slide({header: "Манипуляции DOM и стилями", classes: ""})
      div.double
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model") DOM
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Counter_Styles") CSS Counter Styles
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Font_Loading_API") CSS Font Loading API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Painting_API") CSS Painting API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Typed_OM_API ") CSS Typed OM
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model") CSSOM
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API") HTML Drag and Drop API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API") Intersection Observer API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API") Page Visibility API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events") Pointer events
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Pointer_Lock_API") Pointer Lock API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Resize_Observer_API") Resize Observer API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Touch_events") Touch events
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Visual_Viewport_API") Visual Viewport API
    +slide({header: "", classes: "", shout: true})
      h2.shout(style="color: #fff; text-shadow: 0 0 20px #333, 0 0 40px #333, 0 0 60px #333;") Передача данных и состояние сети
      +cover('pictures/blur_cover.jpg')
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px") Как общаться между вкладками, не&nbsp;используя сеть?
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: ""})
      div(style="display:flex; margin-left: 30px")
        iframe(height='450' style='width: 400px' scrolling='no' src="https://web-api-examples.github.io/broadcastchannel.html") 
        iframe(height='450' style='width: 400px; margin-left: 30px' scrolling='no' src="https://web-api-examples.github.io/broadcastchannel.html")
      a.copyright(href="https://web-api-examples.github.io/broadcastchannel.html") Demo - BroadcastChannel
    +slide({header: "Broadcast Channel API", classes: ""})
      img(src="pictures/broadcastchannel.png", style="width: 80%; margin-left: 100px")
    +slide({header: "Broadcast Channel API", classes: ""})
      pre
        code.js
          | const bc = new BroadcastChannel('test_channel')
      pre.next
        code.js
          | bc.postMessage('This is a test message.')
      pre.next
        code.js
          | bc.onmessage = function (ev) { ... }
      pre.next
        code.js
          | bc.close();
    +slide({header: "", classes: ""})
      +cover('pictures/broadcast_use.jpg')
      a.copyright(href="https://caniuse.com/broadcastchannel") Caniuse — BroadcastChannel
    +slide({header: "Передача данных и состояние сети", classes: ""})
      div.double
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Background_Fetch_API") Background Fetch API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Beacon_API") Beacon API
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Broadcast_Channel_API") Broadcast Channel API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Content_Index_API") Content Index API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Channel_Messaging_API") Channel Messaging API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API") Fetch API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/History_API") History API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API") Network Information API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API") Service Worker API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events") Server-sent events
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Streams_API") Streams API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Periodic_Background_Synchronization_API") Web Periodic Background Synchronization API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/URL_API") URL API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API") WebSockets
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest") XMLHttpRequest
    +slide({header: "Передача данных и состояние сети", classes: ""})
      div.double
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Background_Fetch_API") Background Fetch API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Beacon_API") Beacon API
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Broadcast_Channel_API") Broadcast Channel API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Content_Index_API") Content Index API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Channel_Messaging_API") Channel Messaging API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API") Fetch API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/History_API") History API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API") Network Information API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API") Service Worker API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events") Server-sent events
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Streams_API") Streams API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Periodic_Background_Synchronization_API") Web Periodic Background Synchronization API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/URL_API") URL API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API") WebSockets
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest") XMLHttpRequest
    +slide({header: "", classes: "", shout: true})
      h2.shout(style="color: #fff; text-shadow: 0 0 20px #333, 0 0 40px #333, 0 0 60px #333;") Графика и медиа
      +cover('pictures/blur_cover.jpg')
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px; margin-top: -50px") Можно ли распознать QR&#8209;код&nbsp;из&nbsp;браузера?
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: ""})
      h2.shout
        a(href="https://qrsnapper.appspot.com/") Считываем код телефоном
      a.copyright(href="https://dzone.com/articles/barcode-detection-using-the-shape-detection-api") Barcode Detection Using the Shape Detection API
    +slide({header: "", classes: ""})
      +cover('pictures/barcodes.jpg')
    +slide({header: "Barcode Detection API", classes: ""})
      pre
        code
          | const barcodeDetector = new BarcodeDetector();
      pre.next 
        code
          | barcodeDetector.detect(image)
          |   .then(barcodes => { ... })
          |   .catch(e => { ... });
    +slide({header: "", classes: ""})
      +cover('pictures/barcode_use.jpg')
      a.copyright(href="https://caniuse.com/mdn-api_barcodedetector") Caniuse — BarcodeDetector API
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px; margin-top: -50px") Хочу смотреть видео и&nbsp;одновременно смотреть другие вкладки
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: ""})
      iframe(height='450' style='width: 520px; margin-left: 160px' scrolling='no' title='Picture-in-Picture demo' src='https://codepen.io/ayoisaiah/embed/dyyeQVG?default-tab=result&theme-id=light' frameborder='no' loading='lazy' allowtransparency='true' allowfullscreen='true')
        | See the Pen 
        a(href='https://codepen.io/ayoisaiah/pen/dyyeQVG')
          | Picture-in-Picture demo
        |  by Ayooluwa (
        a(href='https://codepen.io/ayoisaiah') @ayoisaiah
        | )
        |   on 
        a(href='https://codepen.io') CodePen
        | .
    +slide({header: "Picture-in-Picture API", classes: ""})
      pre
        code.js
          | // Открыть окно с видео
          | video(src="").requestPictureInPicture()
          |           // .catch(e => { ... });
      pre.js.next
        code
          | // Закрыть окно с видео
          | video(src="").exitPictureInPicture()
          |            //.catch(e => { ... });
     +slide({header: "", classes: ""})
      +cover('pictures/picture-in_use.jpg')
      a.copyright(href="https://caniuse.com/picture-in-picture") Caniuse — Picture-in-Picture API
    +slide({header: "Графика и медиа", classes: ""})
      div.double(style="folt-size: 0.7em; line-height: 1.5")
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Barcode_Detection_API") Barcode Detection API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API") Canvas API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Encrypted_Media_Extensions_API") Encrypted Media Extensions API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API") Fullscreen API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Capabilities_API") Media Capabilities API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Session_API") Media Session API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Source_Extensions_API") Media Source API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API") Media Stream
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API") MediaStream Recording API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Image_Capture_API") MediaStream Image Capture API
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Picture-in-Picture_API") Picture-in-Picture API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Presentation_API") Presentation API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API") Screen Capture API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Screen_Wake_Lock_API") Screen Wake Lock API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API") Web Animations API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API") Web Audio API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API") WebGL
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API") WebRTC API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API") Web Speech API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API") Web Video Text Tracks Format
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebVR_API" style="text-decoration:line-through ") WebVR API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebXR_Device_API") WebXR Device API
    +slide({header: "Графика и медиа", classes: ""})
      div.double(style="folt-size: 0.7em; line-height: 1.5")
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Barcode_Detection_API") Barcode Detection API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API") Canvas API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Encrypted_Media_Extensions_API") Encrypted Media Extensions API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API") Fullscreen API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Capabilities_API") Media Capabilities API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Session_API") Media Session API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Source_Extensions_API") Media Source API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API") Media Stream
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API") MediaStream Recording API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Image_Capture_API") MediaStream Image Capture API
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Picture-in-Picture_API") Picture-in-Picture API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Presentation_API") Presentation API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API") Screen Capture API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Screen_Wake_Lock_API") Screen Wake Lock API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API") Web Animations API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API") Web Audio API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API") WebGL
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API") WebRTC API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API") Web Speech API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API") Web Video Text Tracks Format
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebVR_API" style="text-decoration:line-through ") WebVR API
          |  
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebXR_Device_API") WebXR Device API
    +slide({header: "", classes: "", shout: true})
      h2.shout(style="color: #fff; text-shadow: 0 0 20px #333, 0 0 40px #333, 0 0 60px #333;") Управление устройствами
      +cover('pictures/blur_cover.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/makeev_iot.png')
      a.copyright(href="https://youtu.be/9mv-8gSyalU") Я и ИоТ, Вадим Макеев (Youtube)
    +slide({header: "", classes: ""})
      +cover('pictures/midi.png')
      a.copyright(href="https://youtu.be/-Ml7J3ocqUo") George Mandis — Make More Than Music with Tiny Computers, JavaScript and MIDI (Youtube)
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px; margin-top: -50px") Как заставить телефон делать &#171;вж-вж-вж-вж&#187;?
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: "shout"})
      h2.shout
        a(href="https://neesoglasnaja.github.io/DiceRoller/dist/pwa/index.html") Бросим кубики
    +slide({header: "Vibration API", classes: ""})
      pre
        code
          | if ("vibrate" in navigator) {
          |   ...
          |   navigator.vibrate(200) // одиночная вибрация
          |   navigator.vibrate([100,30,100,30,...]) // последовательность
          |   ...
          | }
    +slide({header: "", classes: ""})
      +cover('pictures/vibration_use.jpg')
      a.copyright(href="https://caniuse.com/vibration") Caniuse — Vibration API
    +slide({header: "Управление устройствами", classes: ""})
      div.double
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API") Clipboard API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API") Gamepad API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API") Geolocation API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API") Notifications API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Permissions_API") Permissions API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Push_API") Push API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Battery_Status_API"  style="text-decoration:line-through") Battery Status API
          |  
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Proximity_Events"  style="text-decoration:line-through") Proximity Events
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Sensor_APIs") Sensor APIs
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Vibration_API") Vibration API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API") Web Bluetooth API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebHID_API") WebHID API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_MIDI_API") Web MIDI API
    +slide({header: "Управление устройствами", classes: ""})
      div.double
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API") Clipboard API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API") Gamepad API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API") Geolocation API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API") Notifications API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Permissions_API") Permissions API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Push_API") Push API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Battery_Status_API"  style="text-decoration:line-through") Battery Status API
          |  
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Proximity_Events"  style="text-decoration:line-through") Proximity Events
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Sensor_APIs") Sensor APIs
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Vibration_API") Vibration API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API") Web Bluetooth API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/WebHID_API") WebHID API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_MIDI_API") Web MIDI API
    +slide({header: "", classes: "", shout: true})
      h2.shout(style="color: #fff; text-shadow: 0 0 20px #333, 0 0 40px #333, 0 0 60px #333;") Хранение и&nbsp;управление данными
      +cover('pictures/blur_cover.jpg')
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px; margin-top: -50px") Как оградить сайт от &#171;опасного кода&#187 в&nbsp;комментариях?
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: ""})
      h2.shout
        a(href="https://sanitizer-api.dev/") Запретим опасный код
    +slide({header: "", classes: ""})
      +cover('pictures/sanitizer_use.jpg')
      a.copyright(href="https://caniuse.com/mdn-api_sanitizer") Caniuse — Sanitizer API
    +slide({header: "", classes: ""})
      +cover('pictures/sanitize_npm.jpg')
      a.copyright(href="https://www.npmjs.com/package/sanitize-html") sanitize-html    
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 100px; margin-top: -50px") Хочу доступ к контактам, как в мобильных приложениях
      +cover('pictures/what-if.jpg')
    +slide({header: "", classes: ""})
      video(src="pictures/contact.mp4" width="230" style="margin-left: 350px" loop autoplay)
      a.copyright(href="https://contact-picker.glitch.me/") Contact Picker API Demo 
    +slide({header: "Contact Picker API", classes: ""})
      span(style="font-size: 0.9em")
        pre
          code
            | const supported = ('contacts' in navigator
            |    && 'ContactsManager' in window);
        pre.next
          code
            | const props = ['name', 'email', 'tel', 'address', 'icon'];
            | const opts = { multiple: true };
            | 
            | navigator.contacts.select(props, opts)
            |   .then(contacts => { ... })
            |   .catch(e => { ... })
    +slide({header: "", classes: ""})
      +cover('pictures/contacts_use.jpg')
      a.copyright(href="https://developer.mozilla.org/en-US/docs/Web/API/ContactsManager/getProperties") ContactsManager - Web APIs | MDN
    
    +slide({header: "Хранение и управление данными", classes: ""})
      div.double(style="font-size: 0.6; line-height: 1.5")
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Background_Tasks_API") Background Tasks API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Console_API") Console API
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Contact_Picker_API") Contact Picker API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Credential_Management_API ") Credential Management API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Encoding_API") Encoding API
        div
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Sanitizer_API") HTML Sanitizer API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/File_and_Directory_Entries_API") File and Directory Entries API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API") File System Access API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Frame_Timing_API") Frame Timing API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API") IndexedDB API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Long_Tasks_API") Long Tasks API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Navigation_timing_API") Navigation Timing API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Performance_API") Performance API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Performance_Timeline") Performance Timeline
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Resource_Timing_API") Resource Timing API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API") Payment Request API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Storage_Access_API") Storage Access API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Storage_API") Storage API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API") Web Authentication API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API") Web Crypto API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API") Web Storage API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API") Web Workers API
    +slide({header: "Хранение и управление данными", classes: ""})
      div.double(style="font-size: 0.6; line-height: 1.5")
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Background_Tasks_API") Background Tasks API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Console_API") Console API
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Contact_Picker_API") Contact Picker API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Credential_Management_API ") Credential Management API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Encoding_API") Encoding API
        div(style="opacity: 0.3")
          mark
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Sanitizer_API") HTML Sanitizer API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/File_and_Directory_Entries_API") File and Directory Entries API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/File_System_Access_API") File System Access API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Frame_Timing_API") Frame Timing API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API") IndexedDB API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Long_Tasks_API") Long Tasks API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Navigation_timing_API") Navigation Timing API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Performance_API") Performance API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Performance_Timeline") Performance Timeline
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Resource_Timing_API") Resource Timing API
        div
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API") Payment Request API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Storage_Access_API") Storage Access API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Storage_API") Storage API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API") Web Authentication API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API") Web Crypto API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API") Web Storage API
        div(style="opacity: 0.3")
          a(href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API") Web Workers API
    +slide({header: "Вместо выводов", classes: ""})
      figure
        blockquote
          p(style="margin-bottom: 0.5em") — Нельзя поверить в невозможное!
          p(style="margin-bottom: 0.5em") — Просто у тебя мало опыта, – заметила Королева. – В твоем возрасте я уделяла этому полчаса каждый день! В иные дни я успевала поверить в десяток невозможностей до завтрака!
        figcaption Льюис Кэрролл,  «Алиса в стране чудес» 
    +slide({header: "", classes: ""})
      +cover('pictures/webassembly.jpg')

    +slide({name: 'theend', header: "", classes: ''})
      p.end-link(style="position: absolute; bottom: 5%")
        a.bigger(href="http://bit.ly/GDG_Minsk_API" target="_blank") bit.ly/GDG_Minsk_API
        br
        | Саша Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      img.cover(src='pictures/the_end.gif', style="min-height: 240%; max-width: none")

    .progress
    script(src='shower/shower.min.js')

    script(src='highlight/highlight.pack.js')
    script(type='text/javascript') hljs.initHighlightingOnLoad();